*{
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(kalam.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color: #fff;
}
nav img{
    width: 90px;

}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 55px;
}

html{
    scroll-behavior: smooth;
}
.info{
    width: 90%;
    margin: auto;
    
}
.info h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.info p{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.quiz{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.quiz-col{
    flex-basis: 50%;
    background: #00ffff;
    border-radius: 50px;
    margin-bottom: 5%;
    padding: 20px 0;
    font-size: 36px;
}
.start{
    
    flex-basis: 80%;
    background: #fff;
    border-radius: 20px;
    border: 2px #000000;
    margin-bottom: 1%;
    padding: 10px;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.start:hover{
    text-decoration: #ffffff;
    background: #f44336;
    transition: 0.5s
}


.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icon .fa a{
    justify-content: space-between;
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}
/*----------- test page --------*/

.sub-header{
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.1)),url(bar.png);
    background-position: center;
    background-size: cover;
}





.app{
    background: #001e4d;
    height: 100vh;
    padding-top: 40px;
}
.quizapp{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
    
}
.quizapp h1{
    font-size: 30px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;

}
.quizapp-col{
    padding: 20px 0;
}
.quizapp-col h2{
    font-size: 20px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
